@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

html {
    background-color: rgba(122, 191, 191, .5);
}

body {
    background-color: #F2F2F2;
    width: 414px;
    margin: 0 auto;
    font-family: Bebas Neue, sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

header {
    padding-top: 250px;
}

.street-tacos {
    width: 414px;    
}

.street-tacos img {
    width: 100%;
    height: 100%;
}

nav {
    width: 414px;
    background-color: white;
    position: absolute;   
    top: 0;
    z-index: 1; 
    padding-bottom: 36px;             
}

nav h2 {
    visibility: hidden; 
    width: 1px;
    height: 1px;
    font-size: 1px;   
}

nav li {
    list-style: none;   
    
}

[href="#home"] svg {
    background-color: #EB5428;
    position: absolute;
    top: 0;
    left: 91px; 
    width: 192px;
    padding: 12px;
      
}

[href="#avatar"] svg {
    position: absolute;
    top: 13px;
    left: 344px;    
    stroke: #EB5428;
}

nav a {
    display: block;
    text-decoration: none; 
    padding:20px;
    color: black; 
    font-size: 20px; 
    
}

ul {
    margin: 0;
    padding: 0;
    overflow: scroll;
    max-height: 0;
    transition: max-height .2s ease-out;    
}

label {
    cursor: pointer;
    display: inline-block;    
    position: relative;
    user-select: none;
}

label svg {
    stroke: #EB5428;
    display: block;    
    position: relative;
    transition: background-color .2s ease-out;
    left: 19px;
    top: 11px;

}

label svg:before, label svg:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label svg:before {
    top: 5px;
}

label svg:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label svg {
    background: transparent;
}

input:checked ~ label svg:before {
    transform: rotate(-45deg);
}

input:checked ~ label svg:after {
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) svg:before, input:checked ~ label:not(.steps) svg:after {
    top: 0;
}

menu li {
    font-size: 20px;
}

#social {
    font-size: 20px;
}

footer {
    font-size: 20px;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

pre {    
    font-family: Montserrat, sans-serif;
    font-size: 16px;    
}

#menu {
    position: absolute;
    top: 35px;
    font-family: Bebas Neue, sans-serif;
    font-size: 20px;
    left: 21px;

}

#sign {
    position: absolute;
    top: 35px;
    left: 329px; 
    font-family: Bebas Neue, sans-serif;
    font-size: 20px;
}

ol li {    
    font-family: Montserrat, sans-serif;
    font-size: 16px;    
}


