@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

html {
    background-color: rgba(122, 191, 191, .5);
}

body {
    background-color: #F2F2F2;
    width: 414px;
    margin: 0 auto;
    font-family: Bebas Neue, sans-serif;
}

h1 {
    font-size: 40px;
    padding-left: 112px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

header {
    padding-top: 160px;    
}

.street-tacos {
    width: 414px;    
}

.street-tacos p {
    margin-left: 10px;
    margin-right: 10px;
}

.street-tacos img {
    width: 100%;
    height: 100%;
}

nav {
    width: 414px;
    background-color: white;
    position: absolute;  
    top: 0;
    z-index: 1; 
    padding-bottom: 36px;             
}

nav h2 {
    visibility: hidden; 
    width: 1px;
    height: 1px;
    font-size: 1px;   
}

nav li {
    list-style: none;   
    padding: 10px;
    
}

[href="#home"] svg {
    background-color: #EB5428;
    position: absolute;
    top: 0;
    left: 91px; 
    width: 192px;
    padding: 12px;
      
}

[href="#avatar"] svg {
    position: absolute;
    top: 13px;
    left: 344px;    
    stroke: #EB5428;
}

nav a {
    display: block;
    text-decoration: none; 
    padding:20px;
    color: #EB5428; 
    font-size: 20px; 
    
}

nav img {
    width: 20%;
    height: 20%;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: scroll;
    max-height: 0;
    transition: max-height .2s ease-out;    
}

/*Hamburger*/

.mobile-menu label {
    cursor: pointer;
    display: inline-block;    
    position: relative;
    user-select: none;
}

.mobile-menu svg {
    stroke: #EB5428;
    display: block;    
    position: relative;
    transition: background-color .2s ease-out;
    left: 19px;
    top: 11px;

}

.mobile-menu svg:before, .mobile-menu svg:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.mobile-menu svg:before {
    top: 5px;
}

.mobile-menu svg:after {
    top: -5px;
}

#dropdown {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ .mobile-menu svg {
    background: transparent;
}



input:checked ~ .mobile-menu svg:before {
    transform: rotate(-45deg);
}

input:checked ~ .mobile-menu svg:after {
    transform: rotate(45deg);
}

input:checked ~ .mobile-menu label:not(.steps) svg:before, input:checked ~ .mobile-menu label:not(.steps) svg:after {
    top: 0;
}


#social {
    font-size: 20px;
}

footer {
    font-size: 20px;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

pre {    
    font-family: Montserrat, sans-serif;
    font-size: 16px;    
}

#menu {
    position: absolute;
    top: 35px;
    font-family: Bebas Neue, sans-serif;
    font-size: 20px;
    left: 21px;

}

#sign {
    position: absolute;
    top: 35px;
    left: 329px; 
    font-family: Bebas Neue, sans-serif;
    font-size: 20px;
}

ol li {    
    font-family: Montserrat, sans-serif;
    font-size: 16px;    
}

.search-bar {    
    position: absolute;  
    top: 105px;
    padding-left: 65px; 
       
}

.search-bar input {
    width: 250px;
    height: 40px;
    border-color: #EB5428;              
}

.search-bar button {
    border: 0px;       
}

.search-bar svg {
    stroke:#ffffff;
    background-color: #EB5428;
    position: relative;
    top: 16px;
    left: -11px;
}


menu {
    display: flex;
    flex-direction: row;
}

menu li {
    list-style: none;
    padding: 5px;
    font-size: 20px;    
}

menu a {
    text-decoration: none;
    color:#EB5428;
    position: relative;
    top: 56px;
    left: 0px;  
    
}


menu svg {
    position: relative;
    top: -16px;
    left: -4px;
}

#jump-svg {
    position: relative;
    top: -16px;
    left: 26px; 
}

.details-flex {
    display: inline-flex;
    flex-direction: column;
}

dt {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

dd {
    position: relative;
    left: 75px;
    top: -20px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.ingredients li {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 40px;

}

.directions li{
    padding-bottom: 20px;
}

.dishes {
    background-color: #7ABFBF;
    width: 414px;
    height: 904px;
}

.dishes-flex {
    display: flex;
    flex-direction: column;
}

.dishes-flex img {
    width: 30%;
    height: 30%;
    padding-left: 10px;
}

.dishes-flex h3 {
    position: relative;
    left: 151px;
    top: 53px;    
}

.dishes-flex p, .dishes-flex svg {
    position: relative;
    left: 151px;
    top: -109px;
}

.orange-fill {
    fill: #EB5428;
}

.rating {
    font-weight: bold;
}

.dishes-flex1 {
    position: relative;
    top: -65px;
}

.dishes-flex2 {
    position: relative;
    top: -185px;
}

.dishes-flex3 {
    position: relative;
    top: -294px;
}

.dishes-flex4 {
    position: relative;
    top: -388px;
}

.social-flex ul {    
    display: flex;
    flex-direction: row;
    
}


.social-flex li {
    list-style: none;
    
}

.social-flex a {
    text-decoration: none;
    color: #EB5428;
    position: relative;
    top: 13px;
    left: -9px;    
}


.social-flex svg {
    position: relative;
    top: -78px;
    
}



#social-header {
    visibility: hidden;
}

.connect-background {
    background-color: #ffffff;
    position: relative;
    top: 46px;
}

footer {
    background-color: #ffffff;
    width: 414px;    
}

footer img {
    width: 50%;
    height: 50%;
    position: relative;
    top: -93px; 
    left: 98px;   
}


footer h3 {
    visibility: hidden;
}

footer p {
    font-family: Bebas Neue, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 232px;    
}

.end-background {
    background-color: #ffffff;    
}

/*MEDIUM SCREEN*/

@media screen and (min-width:768px) {
    nav {
        min-width: 768px;
        position: absolute;                    
    }

    nav ul {        
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(7, 0.5fr);           
        
    }

    #break {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
    }

    #bru {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
    }

    #lun {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
    }

    #din {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
    }

    #app {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
    }

    #dess {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 2;
    }

    #bev {
        grid-column-start: 7;
        grid-column-end: 7;
        grid-row-start: 2;
    }   

    #sig a {
        position: relative;   
        top: -15px;
        right: -217px;             
    } 

    

   #sign {
    position: absolute;
    top: 16px;
    left: 658px;     
   }

  

    nav img {
        width: 40%;
        height: 40%;        ;
    }
        

    .mobile-menu label, nav input {
        display: none;
    }

    [href="#home"] svg {
        position: static;
        width: 50px;
        top: 0px;  
        left: 0px;    
    } 

    nav h2 {
        display: none;
    }

    body {
        min-width: 768px;
    }  

    nav li {
        background-color: #ffffff;
        padding: 0%;
    }  

    nav a {
        padding: 0%;       
    }

   

    header {
        margin-top: 10px;
    }

    .search-bar {    
        position: absolute;  
        top: 20px;
        margin-left: 260px; 
                   
    }    

    #menu {
       display: none;
    
    }

    .street-tacos {
        width: 768px;    
    }
    
    .street-tacos p {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .street-tacos img {
        width: 100%;
        height: 100%;
    }

    h1 {
        padding-left: 2%;
    }

    menu li {
        padding-left: 70px;
        padding-bottom: 15px;
    }

    menu a {
        position: relative;
        top: 20px;
        left: 2px;  
        
    }    
    
    menu svg {
        position: relative;
        top: -23px;
        left:-33px;
    }

    #jump-svg {
        position: relative;
        top: -23px;
        left: -63px; 
    }

   .details-flex {
    position: relative;
    top: -16px;
    left: 270px; 
   }

   .ingredients-container {
    display: flex;
    flex-direction: row;
   }

   #ingredients-flex {
    width: 230px;
    
   }

   #directions-flex {
    width: 580px;
    margin-left: 10px;
   }

   .dishes {
    width: 768px;
    height: 700px;
   }   

   .dishes-flex img {
    width: 30%;
    height: 30%;
   }

   .dishes-flex {
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    
   }

   .dishes-flex1 {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    position: relative;
    top: 2px;
    left: 2px;

   }

   .dishes-flex2 {
    grid-column-start: 2;
    grid-row-start: 1;
    position: relative;
    top: 2px;
    left: 2px;

   }

   .dishes-flex3 {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    top: 2px;
    left: 2px;
   }

   .dishes-flex4 {
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
    top: 2px;
    left: 2px;
   }

   .dishes-flex h3 {
    position: relative;
    left: 136px;
    top: 54px;
   }

   .dishes-flex p, .dishes-flex svg {
    position: relative;
    left: 136px;
    top: -82px;
}

    .end-background {
    display: flex;
    flex-direction: row-reverse;
    }

}




/*LARGE SCREEN*/
@media screen and (min-width:1280px) {
    body {
        min-width: 1280px;
        height: 2500px;
    }

    nav {
        min-width: 1280px;
        position: fixed;    
        height: 55px;                
    }

    nav ul {        
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(11, 0.5fr);           
        
    }


    #break {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        
    }

    #bru {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
    }

    #lun {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
    }

    #din {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
    }

    #app {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
    }

    #dess {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 1;
    }

    #bev {
        grid-column-start: 9;
        grid-column-end: 10;
        grid-row-start: 1;
    }   
   

   .search-bar {    
    position: absolute;  
    top: 133px;
    margin-left: 461px;
    
   }   

  
    [href="#avatar"] svg {
        position: fixed;
        top: 2px;
        margin-left: 863px;
        
    }

    #sig {
        position: fixed;
    }

  #sig a {
    position: relative;
    top: 26px;
    left: 1076px;         
    } 


   #sign {
    position: relative;
    top: 26px;
    left: 1076px;  
   }

   

    header {
        margin-top: 35px;
        
    }

   
    h1 {
        text-align: center;
    }

    /*Street tacos section*/
    .street-tacos {
        min-width: 1084px; 
        height: 960px;
        display: flex;   
        flex-direction: row;
        position: relative;
        top: -977px;
        left: 203px;
    }   

    .street-tacos img {
        width: 100%;
        height: 100%;
    }    
    
    

    menu {
        display: flex;
        flex-direction: column;
        width: 158px;
        height: 960px;
        background-color: #ffffff;  
        border: 2px solid #EB5428;      
    }

    menu li {
        padding: 30px;
          
    }

    menu svg {
        position: relative;
        top: -4px;
        left: -32px;
    }

   
    #jump-svg {
        position: relative;
        top: -51px;
        left: 1px;
    }

    #jump-li {
        position: relative;
        top: 19px;
        left: 1px;
    }

   .details-box {
    background-color: black;
    color:#7ABFBF;
    position: relative;
    top: -1002px;    
   }

   .details-flex {
    flex-direction: row;
    min-width: 1280px;
    position: relative;
    top:-30px;
    left:80px;
   }

   dd {
    position: relative;
    top: 27px;
    left: -107px;
   }

   .ingredients-container {
    min-width: 1280px;   
    position: relative;
    top:-1002px;
   }
   
   #directions-flex {
    width: 693px;
    margin-left: 126px;
   }

   #ingredients-flex {
    margin-right: 50px;
   }

   .dishes {
    min-width: 1280px;
    height: 500px;
    position: relative;
    top: -1036px;
   }

   .dishes-flex {
    display: flex;
    flex-direction: row;
   }

   .dishes-flex img {
    width: 70%;
    height: 70%;
    position: relative;
    top: -90px;
    left: 160px;
   }
  

   .dishes-flex4 p, .dishes-flex4 svg {
    position: relative;
    top: -37px;
    left: 293px; 
   }

   .dishes-flex4 img {
    top: -91px;
    left: 288px; 
   }

   .dishes-flex4 h3 {
    top: 242px;
    left: 293px;
   }

   .dishes-flex1 p, .dishes-flex1 svg {
    position: relative;
    top: -37px;
    left: 53px; 
   }

   .dishes-flex1 img {
    top: -91px;
    left: 45px; 
   }

   .dishes-flex1 h3 {
    top: 242px;
    left: 53px;
   }

   .dishes-flex3 p, .dishes-flex3 svg {
    position: relative;
    top: -37px;
    left: 253px; 
   }

   .dishes-flex3 img {
    top: -91px;
    left: 241px; 
   }

   .dishes-flex3 h3 {
    top: 242px;
    left: 253px;
   }

   .dishes-flex2 p, .dishes-flex2 svg {
    position: relative;
    top: -37px;
    left: 133px; 
   }

   .dishes-flex2 img {
    top: -91px;
    left: 122px; 
   }

   .dishes-flex2 h3 {
    top: 242px;
    left: 133px;
   }

   .end-background {
    position: relative;
    top: -1035px;
   
   }

   footer img {
    top: -122px;
    left: -401px;
   }

   footer p {
    top: -25px;
    left: -300px;
   }

   #social svg {
    top: -96px;
    left: -58px;
   }

   #social a {
    top: -62px;
    left: -4px;
   }

   
}
    

